@use "../variables";

.footer {
  max-height: 72px;
  height: 72px;
  border-top: 1px solid variables.$header_border;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.footer_contact {
  @include variables.h7;
  color: variables.$text_light;
  font-weight: 400;
}

.text_footer {
  @include variables.h8;
  color: variables.$text_light;
  font-weight: 300;
}