@import "../variables";


// .header_ctr: The container for the header
.header_ctr {
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// .logo: Styles for the logo, circular with a fixed size
.logo {
  border-radius: 100%;
  aspect-ratio: 1 / 1; // Ensures a 1:1 width-to-height ratio
  width: 48px;
}

// .header_content: Wrapper for the header content
.header_content {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1.5em;
}

// .navigation_buttons: Styles for the navigation buttons
.navigation_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 1.5em;
  height: 100%;

  // li: Styles for each navigation list item
  li {
    // a: Links inside each navigation item
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      transition: color 0.3s ease;
      padding: 0 4px;
      // &:hover: Hover effect for navigation links
      &:hover {
        color: $text_hover;
      }
    }

    // .nav_link: Default styles for navigation links
    .nav_link {
      color: $text_not_active;
    }

    // .active: Styles for the active navigation link
    .active {
      color: $text;
      border-bottom: $border_dark 2px solid;
      padding-top: 2px;
    }
  }
}

// .navigation_btn: Additional styles for navigation buttons
.navigation_btn {
  @include h7;
  @include label;
  height: 100%;
}


// .search_container: Wrapper for the search section, contains search input and icon
.search_container {
  display: flex;
  align-items: center;
  background-color: $search-background;
  border-radius: 8px;
  height: 56%;
}

// .search_icon: Styling for the search icon, including size and margin
.search_icon {
  font-size: 1.2rem;
  margin: 0 8px;
}

// .search_input: Styling for the search input field
.search_input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  height: 100%;
  @include h7;
}

