@import "../variables";


// .header_ctr: The container for the header
.header_ctr {
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid $header_border;
}

// .logo: Styles for the logo, circular with a fixed size
.logo {
  border-radius: 100%;
  aspect-ratio: 1 / 1; // Ensures a 1:1 width-to-height ratio
  width: 48px;
}

// .header_content: Wrapper for the header content
.header_content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.header_nav_menu {
  height: 100%;
}

// .navigation_buttons: Styles for the navigation buttons
.navigation_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 1.5em;
  height: 100%;

  // li: Styles for each navigation list item
  li {
    // a: Links inside each navigation item
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      transition: color 0.3s ease;
      padding: 0 4px;
      // &:hover: Hover effect for navigation links
      &:hover {
        color: $text_hover;
      }
    }

    // .nav_link: Default styles for navigation links
    .nav_link {
      color: $text_not_active;
    }

    // .active: Styles for the active navigation link
    .active {
      color: $text;
    }
  }
}

// .navigation_btn: Additional styles for navigation buttons
.navigation_btn {
  @include h6;
  @include label;
  height: 100%;
}

.sign_in_btn {
  @include btn;
  @include h7;
  height: 48%;
  background: none;
  border: none;
  padding: 0 4px;
}

.sign_up_btn {
  @include btn;
  @include h7;
  height: 48%;
  background: none;
  border-radius: 4px;
  border: 1px solid $border_dark;
  padding: 0 8px;
}

.header_content_right {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  height: 100%;
  align-items: center;
}

.header_content_left {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  height: 100%;
  align-items: center;
}