@use "../variables";

// .header_ctr: The container for the header
.header_ctr {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid variables.$header_border;
}

// .logo: Styles for the logo, circular with a fixed size
.logo {
  border-radius: 100%;
  aspect-ratio: 1 / 1; // Ensures a 1:1 width-to-height ratio
  width: 48px;
}

// .header_content: Wrapper for the header content
.header_content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}


// .navigation_btn: Additional styles for navigation buttons
.navigation_btn {
  @include variables.h6;
  @include variables.label;
  height: 100%;
}

.sign_in_btn {
  @include variables.btn;
  @include variables.h7;
  height: 48%;
  background: none;
  border: none;
  padding: 0 4px;
}

.sign_up_btn {
  @include variables.btn;
  @include variables.h7;
  height: 48%;
  background: none;
  border-radius: 4px;
  border: 1px solid variables.$border_dark;
  padding: 0 8px;
}

.header_content_search_login {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  height: 100%;
  align-items: center;

  // TODO: implement and remove it
  //visibility: hidden;
}

.header_content_nav {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  height: 100%;
  align-items: center;
}

.menu_btn {
  /* Remove default button styling */
  border: none; /* Remove borders */
  cursor: pointer; /* Add pointer cursor for better user experience */
  font-size: 24px; /* Adjust size for visibility */
  display: flex; /* Center content if there are other elements inside */
  align-items: center;
  justify-content: center;
  width: 48px; /* Set fixed width for consistent appearance */
  height: 48px; /* Set fixed height for consistent appearance */
  border-radius: 50%; /* Make the button circular */
  transition: background-color 0.2s ease, transform 0.2s ease; /* Smooth hover and click effects */

  color: #333; /* Default color */
  /* Transparent background by default */
  background: transparent none;


}







/* Responsive menu styles */

// small screen
@media (max-width: 768px) {
  .header_nav_menu {
    display: none;
  }

  .header_content_nav {
    width: 100%;
    justify-content: space-between;
  }

  .header_content_search_login {
    display: none;
  }

  .header_content {
    width: 90%;
  }
}

// large screen
@media (min-width: 769px) {
  .menu_btn {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #header_search {
    display: none !important;
  }
}

