@use '../../variables';

.home_page_card {
  width: 300px;
  height: 150px;
  border: 1px solid variables.$border_light;
}

.card_name {
  @include variables.h5;
  font-weight: 600;
  color: variables.$dark_blue;
}