@import "../variables";

.about_page_ctr {

  gap: 8px;
}

.page_title {
  @include title1;
}

.about_page_text {
  @include font-family;
  font-size: 18px;
  color: $text;
  line-height: 1.6;
}

.about_section {
  margin-top: 16px;
  .about_role_title {
    @include h5;
    font-weight: 500;
    color: $text;
  }

}

.about_member_entry {
  display: flex;
}