@use "../variables";

.about_page_ctr {

  gap: 8px;
}

.page_title {
  @include variables.title1;
}

.about_page_text {
  @include variables.font-family;
  font-size: 18px;
  color: variables.$text;
  line-height: 1.6;
}

.about_section {
  margin-top: 16px;
  .about_role_title {
    @include variables.h5;
    font-weight: 500;
    color: variables.$text;
  }

}

.about_member_entry {
  display: flex;
}