@import '../variables';

.diseases_page_ctr {
  width: 760px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.page_title {
  @include page_title;
}

.search_container {
  margin: 16px 0;
}