@use "../variables";

.page_title {
  @include variables.title1;
  margin-bottom: 16px;
}


.disease_info_ctr {
  gap: 8px;
  display: flex;
  flex-direction: row;
}

.disease_info_left_ctr {
  display: flex;
  flex-direction: column;
}

.disease_info_left_section_title {
  @include variables.title2;
  margin: 16px 0;
}

.location_toggle_btn {
  @include variables.title2;
  background: none;
  border: none;
  cursor: pointer;
  width: fit-content;
  padding: 0;
  margin: 16px 0;
  svg {
    vertical-align: middle;
    stroke-width: 0.5px;
  }

}

.disease_info_left_section_text {
  @include variables.h7;
  color: variables.$text;
  line-height: 1.6;
  width: 100%;
}

.disease_info_table {
  margin-left: 16px;
  border-bottom: 1px solid variables.$border_dark;
  border-left: 1px solid variables.$border_dark;
  border-right: 1px solid variables.$border_dark;
  border-radius: 0 0 4px 4px;
  height: fit-content;
  float: right;
  padding: 0 8px 16px;
  th, td {
    padding-top: 16px ; /* Simulate a gap with a transparent border */
  }
}

.table_caption {
  @include variables.h6;
  color: variables.$text;
  font-weight: 600;
  border: 1px solid variables.$border_dark;
  border-radius: 4px 4px 0 0;
}

.table_label {
  @include variables.h7;
  color: variables.$text;
  font-weight: 600;
  vertical-align: top;
  text-align: left;
  padding: 0 16px 0 8px;
}

.table_data {
  @include variables.h7;
  color: variables.$text;
  font-weight: 400;
  vertical-align: top;
}

