@import "../variables";

.page_title {
  @include title1;
  margin-bottom: 16px;
}


.disease_info_ctr {
  gap: 8px;
  display: flex;
  flex-direction: row;
}

.disease_info_left_ctr {
  display: flex;
  flex-direction: column;
}

.disease_info_left_section_title {
  @include title2;
  margin: 16px 0;
}

.disease_info_left_section_text {
  @include h7;
  color: $text;
  line-height: 1.6;
  width: 100%;
}

.disease_info_table {
  border: 1px solid $border_dark;
  border-radius: 4px;
  height: fit-content;
  float: right;
}

.table_caption {
  @include h6;
  color: $text;
  font-weight: 600;
}

.table_label {
  @include h7;
  color: $text;
  font-weight: 600;
  vertical-align: top;
  text-align: left;
  padding: 0 16px 0 8px;
}

.table_data {
  @include h7;
  color: $text;
  font-weight: 400;
  vertical-align: top;
}

