@import '../variables';


.mission_page_ctr {
  display: flex;
  width: 760px;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.title_ctr {
  margin: 7% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .nosologic_title {
    @include h1;
    @include font-family-official;
    font-weight: 700;
    color: $text;
  }
  .motto {
    @include h7;
    color: $text_light;
  }
}

.mission_text_ctr {
  .mission_label {
    @include page_title;
    @include font-family-official;
    margin: 2% auto;
  }

  .page_text {
    @include font-family;
    font-size: 18px;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: $text_light;
    line-height: 1.6;
  }
  .mission_ref {
    color: $text_blue;
  }

  .mission_author {
    color: $text_blue;
    font-weight: 500;
  }
}



