@use '../variables';


.mission_page_ctr {
  margin: 0 auto;
}

.title_ctr {
  margin: 7% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .nosologic_title {
    @include variables.h1;
    @include variables.font-family-official;
    font-weight: 700;
    color: variables.$text;
  }
  .motto {
    @include variables.h7;
    color: variables.$text_light;
  }
}

.mission_text_ctr {
  .mission_label {
    @include variables.title1;
    @include variables.font-family-official;
    margin: 2% auto;
  }

  .page_text {
    @include variables.font-family;
    font-size: 18px;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: variables.$text_light;
    line-height: 1.6;
  }

  .mission_ref {
    color: variables.$dark_blue;
  }

  .mission_author {
    color: variables.$dark_blue;
    font-weight: 500;
    margin-bottom: 64px;
  }
}



