@use '../variables';


.mission_page_ctr {
  margin-top: 0;
}

.title_ctr {
  margin: 7% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.mission_text_ctr {
  .mission_label {

    margin: 2% auto;
  }

  .page_text {
    @include variables.font-family;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: variables.$text_light;
  }

  .mission_ref {
    color: variables.$dark_blue;
  }

  .mission_author {
    color: variables.$dark_blue;
    font-weight: 500;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 520px) {
  .nosologic_title {
    @include variables.font-family-official;
    font-size: 36px;
  }
  .motto {
    display: none;
  }
  .mission_label {
    @include variables.title3;
    @include variables.font-family-official;
  }
  .page_text {
    font-size: 14px;
    line-height: 1.4;
  }
}

@media screen and (min-width: 520px) and (max-width: 768px) {
  .nosologic_title {
    @include variables.h2;
    @include variables.font-family-official;
  }
  .motto {
    @include variables.h8;
    color: variables.$text_light;
  }
  .mission_label {
    @include variables.title2;
    @include variables.font-family-official;
  }
  .page_text {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .nosologic_title {
    @include variables.h1;
    @include variables.font-family-official;
    font-weight: 700;
    color: variables.$text;
  }
  .motto {
    @include variables.h7;
    color: variables.$text_light;
  }
  .mission_label {
    @include variables.title1;
    @include variables.font-family-official;
  }
  .page_text {
    font-size: 18px;
    line-height: 1.6;
  }
}



