@use '../../variables';

.disease_card {
  @include variables.font-family;
  width: 100%;
  border-radius: 5px;
  border: 1px solid variables.$border_light;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  .dc_upper_ctr {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }


  .disease_card_info_ctr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }

  .dc_info_ctr {
    margin-top: 4px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) {
      flex-direction: row;
      align-items: center;
      gap: 4px;
    }
  }
}

.dc_name {
  @media screen and (max-width: 768px) {

    @include variables.h6;
    font-weight: 600;
  }
  @media screen and (max-width: 500px) {
    font-size: 18px;
    font-weight: 600;
  }
  @media screen and (max-width: 389px) {
    font-size: 14px;
    font-weight: 600;
  }
  @include variables.h5;
  font-weight: 600;
  color: variables.$dark_blue;
}


.dc_info_title {
  @media screen and (max-width: 638px) {
    @include variables.h7;
    font-weight: 500;
  }
  color: variables.$text;
  font-weight: 500;
  font-size: 18px;
}

.dc_info_overflow {
  display: flex;
  flex-direction: row;
  max-width: 200px;
  overflow-x: auto;
  white-space: nowrap;
  color: variables.$text_light;
  @media screen and (min-width: 768px) {
    padding-bottom: 4px;
  }
  gap: 4px;

  &::-webkit-scrollbar {
    height: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: variables.$scrollbar;
    border-radius: 8px;
    border: 4px solid transparent;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }
}

.tag {
  background-color: variables.$intense_aqua;
  color: #000;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 5px;
  @media screen and (min-width: 768px) {
    margin: 4px 0;
  }
  width: fit-content;
}

.dc_description_icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  @media screen and (max-width: 389px) {
    width: 16px;
    height: 16px;
  }
}
