@use "../../variables";

.about_member_entry {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-top: 4px;
}

.about_member_info {
  @include variables.font-family;
  font-size: 18px;

}