@use "../../variables";

.role_list_section {

  .about_role_title {
    margin-top: 24px;
    @include variables.title2;
    color: variables.$text;
  }

  .members_list {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }
}